<% layout('layouts/app') %>

<div class="img-fluid bg-banner" alt="banner image">
  <div class="container">
    <div class="welcome-banner">
      <div class="p-3 text-center">
        <h1>Selamat Datang di <span class="wel-text">PredicTeam</span>!</h1>
        <p class="text-banner">
          Platform yang membantu Anda dalam menghitung prediksi data penjualan.
          Maksimalkan potensi penjualan Anda dengan analisis data yang canggih.
          Kami membantu Anda membuat keputusan yang lebih baik.
        </p>
      </div>
      <div class="pb-4 text-center">
        <button class="btn">
          <a href="/prediksi" class="btn-banner">Mulai Sekarang!</a>
        </button>
      </div>
    </div>
  </div>
</div>
