<% layout('layouts/app') %>

<div class="container">
  <div class="row py-4 align-items-center justify-content-center">
    <div class="col-md-2">
      <a href="/prediksi" class="btn btn-warning">Back</a>
    </div>
    <div class="col-md-8 text-center">
      <h2>Coba Metode Prediksi Lain</h2>
    </div>
    <div class="col-md-2"></div>
  </div>

  <!-- card menu -->
  <div class="row align-items-center pt-5">
    <div class="col-md-4 my-1">
      <a href="/menuWMA">
        <div class="card m-auto">
          <div class="bg">
            <div class="row align-items-center h-100">
              <div class="col p-4 text-center">
                <p class="card-title">Weighted Moving Average (WMA)</p>
              </div>
            </div>
          </div>
          <div class="blob"></div>
        </div>
      </a>
    </div>
    <div class="col-md-4 my-1">
      <a href="/menuLR">
        <div class="card m-auto">
          <div class="bg">
            <div class="row align-items-center h-100">
              <div class="col p-4 text-center">
                <p class="card-text">Linear Regression (LR)</p>
              </div>
            </div>
          </div>
          <div class="blob"></div>
        </div>
      </a>
    </div>
    <div class="col-md-4 my-1">
      <a href="/menuES">
        <div class="card m-auto">
          <div class="bg">
            <div class="row align-items-center h-100">
              <div class="col p-4 text-center">
                <p class="card-title">Exponential Smoothing (ES)</p>
              </div>
            </div>
          </div>
          <div class="blob"></div>
        </div>
      </a>
    </div>
  </div>
</div>
