<% layout('layouts/app') %>

<div class="container">
  <div class="py-3 text-center">
    <h3>Tentang Aplikasi</h3>
    <p>
      predicTeam adalah aplikasi web yang dirancang untuk membantu bisnis dalam
      meramalkan data penjualan mereka menggunakan berbagai metode analisis
      statistik dan pemodelan prediktif. Dibangun dengan teknologi modern
      seperti JavaScript, EJS, Bootstrap, dan berbagai library pendukung
      lainnya, predicTeam menawarkan antarmuka pengguna yang ramah dan fitur
      analisis yang komprehensif untuk mempermudah proses pengambilan keputusan
      bisnis.
    </p>
  </div>
  <div class="row py-4 justify-content-center">
    <p class="text-center fw-bold">Daftar pengembang aplikasi:</p>
    <div class="col-lg-3">
      <div class="card-kelompok">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nama : Moch. Miftachul Huda</li>
            <li class="list-group-item">NIM : 112110020</li>
            <li class="list-group-item">Prodi : Teknik Informatika</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card-kelompok">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nama : Khoirul Huda</li>
            <li class="list-group-item">NIM : 112110130</li>
            <li class="list-group-item">Prodi : Teknik Informatika</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card-kelompok">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nama : Muhammad Nur Fikri A.</li>
            <li class="list-group-item">NIM : 112110141</li>
            <li class="list-group-item">Prodi : Teknik Informatika</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card-kelompok">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nama : M Rahmat Faizin</li>
            <li class="list-group-item">NIM : 112110132</li>
            <li class="list-group-item">Prodi : Teknik Informatika</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
