<% layout('layouts/app') %>

<div class="container">
  <div class="py-3 text-center">
    <h3>Kelompok 1</h3>
    <p>Aplikasi ini dibuat untuk memenuhi tugas mata kuliah Manajemen Sains</p>
  </div>
  <div class="row py-4 justify-content-center">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nama : Moch. Miftachul Huda</li>
            <li class="list-group-item">NIM : 112110020</li>
            <li class="list-group-item">Kelas : 6D</li>
            <li class="list-group-item">Prodi : Teknik Informatika</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nama : Khoirul Huda</li>
            <li class="list-group-item">NIM : 112110130</li>
            <li class="list-group-item">Kelas : 6D</li>
            <li class="list-group-item">Prodi : Teknik Informatika</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nama : Muhammad Nur Fikri Alfarisi</li>
            <li class="list-group-item">NIM : 112110141</li>
            <li class="list-group-item">Kelas : 6D</li>
            <li class="list-group-item">Prodi : Teknik Informatika</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nama : M Rahmat Faizin</li>
            <li class="list-group-item">NIM : 112110132</li>
            <li class="list-group-item">Kelas : 6D</li>
            <li class="list-group-item">Prodi : Teknik Informatika</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
