:root {
  --primary: #bd4b4b;
  --secondary: #efb7b7;
  --dark: #000000;
  --light: #eeeeee;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.logo {
  width: 25px;
  margin-right: 5px;
}
.navbar-brand,
.nav-link {
  font-weight: bold;
  color: var(--secondary);
  margin: 0 7px;
}
.bg-banner {
  background-image: url("/assets/bruno-martins-OhJmwB4XWLE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.welcome-banner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--secondary);
  border-radius: 12px;
}
.wel-text {
  color: var(--primary);
}
.text-banner {
  color: var(--light);
}
.btn-banner {
  background-color: var(--primary);
  color: var(--light);
  border: none;
  border-radius: 12px;
  padding: 11px 20px;
}
.btn-banner:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
.active {
  color: var(--primary) !important;
  border: 1px solid var(--primary);
  border-style: dashed;
  border-radius: 20px;
}
.wrap-content-prediksi {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px 20px;
  border-radius: 12px;
  color: var(--secondary);
}
#predict-button {
  background-color: var(--primary);
  color: var(--light);
  padding: 11px 18px;
  border: none;
}
#predict-button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
.exploreBtn {
  background-color: var(--primary);
  color: var(--light);
  padding: 11px 18px;
  border-radius: 12px;
  border: none;
}
.exploreBtn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
.ftdevelop {
  color: var(--primary) !important;
}
.label-coming-soon {
  background-color: #00bc00;
  color: var(--light);
  padding: 5px;
}
.card-kelompok {
  padding: 3px;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 12px;
}

/* card menu metode */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  cursor: pointer;
}
.card {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}
.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
