<% layout('layouts/app') %>

<div class="container">
  <div class="py-3">
    <a href="/menu">
      <button class="btn btn-warning">Back</button>
    </a>
  </div>

  <div class="py-3">
    <h2>ES Page</h2>
  </div>
</div>
