<% layout('layouts/app') %>
<div class="container pb-5">
  <div class="row pt-3 align-items-center justify-content-between">
    <div class="col-md-2">
      <a href="/menu">
        <button class="btn btn-warning">Back</button>
      </a>
    </div>
    <div class="col-md-8 text-center">
      <h2>Linear Regression Prediction</h2>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row pt-3">
    <p class="pt-2 text-center">
      Anda dapat melakukan prediksi penjualan bulan berikutnya berdasarkan data
      penjualan yang telah ada. Silakan masukkan angka bulan yang ingin Anda
      prediksi penjualannya pada kolom yang tersedia di bawah. Setelah
      memasukkan angka bulan, klik tombol 'Perdiksi' untuk melihat hasil
      prediksi. Hasil prediksi akan ditampilkan dalam sebuah modal bersama
      dengan rincian perhitungan Linear Regression yang dilakukan.
    </p>
    <p class="text-center">
      Data penjualan ini mengacu pada data yang terdapat di halaman akurasi,
      Anda dapat mengubahnya sesuai kebutuhan.
    </p>
  </div>
  <!-- Tabel untuk menampilkan data penjualan -->
  <div class="row py-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="wrap-table">
        <h4 class="text-center py-2">Data Aktual Penjualan</h4>
        <!-- data tabel penjualan -->
        <table
          class="table table-bordered border-primary table-striped"
          id="table-penjualan"
        ></table>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="py-3">
    <div class="text-center">
      <p>Masukkan angka bulan yang ingin diprediksi penjualannya</p>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input
          type="number"
          min="0"
          class="form-control"
          id="value-x"
          required
        />
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="text-center py-3">
      <button
        type="button"
        class="btn btn-primary"
        id="predict-button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        disabled
      >
        Perdiksi
      </button>
    </div>
  </div>
</div>

<!-- Modal for Prediction Results -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="prediction-modal-title">Hasil Prediksi</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody id="modal-table-body">
            <!-- Prediction results will be dynamically added here -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/js/predictLR.js"></script>
