<% layout('layouts/app') %>

<div class="container">
  <div class="py-3">
    <div class="row py-3 justify-content-center align-items-center">
      <div class="col-2">
        <a href="/menu">
          <button class="btn btn-warning">Back</button>
        </a>
      </div>
      <div class="col-8">
        <div class="text-center">
          <h3>Weighted Moving Average (WMA)</h3>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col">
        <p style="text-align: justify">
          Perhitungan<b> Weighted Moving Average (WMA)</b>. Dalam metode ini,
          sistem telah menentukan bobot untuk setiap periode waktu, sehingga
          Anda dapat menganalisis data penjualan dengan lebih akurat berdasarkan
          perhitungan yang telah disesuaikan. Program ini menyediakan 3 jenis
          perhitungan berbeda dengan bobot yang telah ditetapkan untuk rentang
          waktu 3, 5, dan 7 periode
        </p>
        <p style="text-align: justify">
          Silakan masukkan data penjualan yang relevan di bawah ini, dimulai
          dari data historis penjualan terbaru Anda. Sesuaikan dengan kebutuhan
          perhitungan WMA Anda untuk mendapatkan hasil prediksi yang optimal.
        </p>
      </div>
    </div>
    <div class="row wrap-content-prediksi mt-3">
      <div class="col">
        <div class="mb-3">
          <label for="orde" class="form-label">Orde</label>
          <select class="form-select" id="orde" name="orde">
            <option value="3">3 Orde</option>
            <option value="5">5 Orde</option>
            <option value="7">7 Orde</option>
          </select>
        </div>

        <form id="input-container" class="row needs-validation" novalidate>
          <!-- Input penjualan di sini akan ditambahkan oleh JavaScript -->
        </form>

        <div class="text-center pt-3">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            id="predict-button"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            disabled
          >
            Prediksi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal WMA -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Hasil Prediksi WMA</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="my-3">
          <table class="table table-bordered table-warning">
            <tbody>
              <tr>
                <th class="col-7 table-info">Jumlah Orde</th>
                <td class="col-5" id="ordeTotal"></td>
              </tr>
              <tr>
                <th class="col-7 table-info">Total Seluruh Penjualan</th>
                <td class="col-5" id="totalPenjualan"></td>
              </tr>
              <tr>
                <th class="col-7 table-info">Hasil Prediksi (Bulan Depan)</th>
                <td class="col-5" id="hasilPrediksi"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/predictWMA.js"></script>
